body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 15px;
  background-color: #fff;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */

}
.profile {
  text-align: center;
  color: #fff;
}
.photo {
  border-radius: 50%;
}
.profile_name {
  font-weight: bold;
  display: block;
}
.at {
  font-size: 13px;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.links ul li {
  margin: 2rem 0;
}
.link {
  letter-spacing: 1px;
  padding: 1rem 2rem;
  display: block;

  text-align: center;
  text-decoration: none;
  transition: ease all 0.3s;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #121214;
  border: 1px solid #121214;
}
.link:hover {
  opacity: 0.9;
  background-color: #121214;
  border: 1px solid white;
  color: rgb(255, 255, 255);
}
.card {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
.card h3 {
  margin: 0;
  color: #202024;
}
.card p {
  margin: 5px 0;
  font-size: 13px;
  color: #202024;
}
